// Copyright (c) 2024 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf9160ns_sica.dtsi>
#include "msense_dev_common.dtsi"
/ {
	model = "msense-dev";
	compatible = "nmbu,msense-dev";

	chosen {
		zephyr,flash = &flash0;
		//zephyr,code-partition = &app_partition;
	};
};


&flash0 {
    status = "okay";
};

&i2c2 {
	ads1115@48 {
		compatible = "ti,ads1115";
		reg = <0x48>;
		#io-channel-cells = <1>;
	};

	npm1300@6b {
		compatible = "nordic,npm1300";
		reg = <0x6b>;
	};
	bme680@76 {
		compatible = "bosch,bme680";
		reg = <0x76>;
	};
	status = "okay";
};